<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page error</title>
    <style>
img{ width: 100%; height: 850px;  position: relative;  }

    </style>
</head>
<body>
    
   <a routerLink="/">  <button type="button" class="btn btn-outline-info" style=" color:black"> Home page </button></a> 
    <div>
 <img src="../../../assets/Front/img/erur.jpg" class="img-fluid" alt="background-image" > 
</div>


</body>
</html>

