<!-- Contact Start --> 

<div class="container pt-5">
    <div class="d-flex flex-column text-center mb-5">
        <h4 class="text-primary font-weight-bold">Get In Touch</h4>
        <h4 class="display-4 font-weight-bold">Email Us For Any Query</h4>
    </div>
    <div class="row px-3 pb-2">
        <div class="col-sm-4 text-center mb-3">
            <i class="fa fa-2x fa-map-marker-alt mb-3 text-primary"></i>
            <h4 class="font-weight-bold">Address</h4>
            <p>Route de Tabarka 7030 7030, Mateur</p>
        </div>
        <div class="col-sm-4 text-center mb-3">
            <i class="fa fa-2x fa-phone-alt mb-3 text-primary"></i>
            <h4 class="font-weight-bold">Phone</h4>
            <p>+216 72 485 481</p>
        </div>
        <div class="col-sm-4 text-center mb-3">
            <i class="far fa-2x fa-envelope mb-3 text-primary"></i>
            <h4 class="font-weight-bold">Web Site</h4>
            <p> <a href="http://www.issatm.rnu.tn/" target="_blank"> http://www.issatm.rnu.tn/</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 pb-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12491.1653484729!2d9.651709146677216!3d37.04242550812654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e330c578772e8f%3A0x663e0b2d2dd68273!2sInstitut%20sup%C3%A9rieur%20des%20sciences%20appliqu%C3%A9es%20et%20technologiques%20de%20mateur%20(%C3%A9cole%20pr%C3%A9paratoire%20aux%20%C3%A9tudes%20des%20ing%C3%A9nieurs)!5e0!3m2!1sfr!2stn!4v1667475497344!5m2!1sfr!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-md-6 pb-5">
            <div class="contact-form">
                <div ></div>
                <br><br><br><br>
                <form id="contactForm" action="https://formcarry.com/s/3iZ0tLkNdC" method="POST" accept-charset="UTF-8">
                    <div class="row">
                        <div class="form-group col-md-6 col-sm-6">
                            <input type="text" class="form-control" placeholder="Your Name" name="name">
                        </div>
                        
                        <div class="form-group col-md-6 col-sm-6">
                            <input type="email" class="form-control" placeholder="Your Email Address" name="email">
                        </div>
                        
                        <div class="form-group col-md-12 col-sm-12">
                            <input type="text" class="form-control" placeholder="Subject" name="Subject">
                        </div>
                        
                        <div class="form-group col-md-12 col-sm-12">
                            <textarea rows="4" class="form-control" placeholder="How can i help you?" name="how can i help you"></textarea>
                        </div>
                        
                        <div class="col-md-12 col-sm-12 text-center">
                            <button type="submit" style="width: 150px ; height: 45px; background-color: rgb(76, 68, 230); color: white; "   >Contact Now</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Contact End    -->


    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->

    <!-- NEWSLETTER -->
    <div id="newsletter" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="newsletter">
                        <p>Sign Up for the <strong>NEWSLETTER</strong></p>
                        <form>
                            <input class="input" type="email" placeholder="Enter Your Email">
                            <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
                        </form>
                        <ul class="newsletter-follow">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /NEWSLETTER -->