<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

          <div class="card o-hidden border-0 shadow-lg my-5">
              <div class="card-body p-0">
                 
                  <div class="row" >
                      <div class="col-lg-6 d-none d-lg-block bg-login-image"> <img class="wid" src="../../../assets/Admin/assets/img/backgrounds/Login.jpg" alt="login image"    ></div>
                      <div class="col-lg-6">
                          <div class="p-5">
                              <div class="text-center">
                                  <h1 class="h4 text-gray-900 mb-4">Welcome Admin!</h1>
                              </div>
                              <br>

                              <form class="user" #f="ngForm" (ngSubmit)="loginadmin(f)" >
                                  <div class="form-group">
                                      <input type="email" class="form-control form-control-user"
                                          id="exampleInputEmail" aria-describedby="emailHelp"
                                          placeholder="Enter Email Address..." name="email" #email="ngModel" ngModel required >
                                  </div>
                                  <br>
                                  <div class="form-group">
                                      <input type="password" class="form-control form-control-user"
                                          id="exampleInputPassword" placeholder="Password" name="password" required #password="ngModel" ngModel>
                                  </div> <br>
                                  
                                  <button type="submit" class="btn btn-primary btn-user btn-block">
                                      Login
                                  </button>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>

  </div>

</div>