<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span> Update Order</h4>

      <!-- Basic Layout & Basic with Icons -->
      <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
          <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
        
            </div>
            <div class="card-body">
              <form #f="ngForm" >
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label" for="basic-default-name">quantite</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="basic-default-name" 
                    [(ngModel)]="datau.quantite"
                    placeholder="quantite"
                    required
                    name="titre"
                    #quantite="ngModel" ngModel
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label" for="basic-default-company">amount</label>
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      id="basic-default-company"
                      [(ngModel)]="datau.amount"
                      placeholder="descreption"
                      required
                      name="amount"
                      #amount="ngModel" ngModel
                      
                    />
                  </div>
                </div>
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="basic-default-company">adress</label>
                    <div class="col-sm-10">
                      <input
                      type="text"
                      class="form-control"
                      id="basic-default-company"
                      [(ngModel)]="datau.adress"
                      placeholder="categorie"
                      required
                      name="adress"
                      #adress="ngModel" ngModel
                      
                    />
                    </div>
                  </div>
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label" for="basic-default-phone"> status</label>
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      id="basic-default-company"
                      [(ngModel)]="datau.status"
                      placeholder="status"
                      required
                      name="status"
                      #status="ngModel" ngModel
                      
                    />
                  </div>
                </div>
                
                  <div class="alert alert-success" role="alert"
                  *ngIf="messageSuccess">
                  {{messageSuccess}}
                  </div>
                  
              
                <div class="row justify-content-end">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Send</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>